.proveedores-container {
  overflow-x: auto;
  max-height: 80vh;
  display: grid;
  place-items: center;
  margin-top: 20px;
  position: relative;
}

.scrollable {
  overflow-x: hidden;
}

.proveedores-table {
  width: 90%;
  border-collapse: collapse;
}

.proveedores-table th,
.proveedores-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.proveedores-table th {
  background-color: #05acff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.proveedores-table thead {
  position: relative;
}

.proveedores-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.proveedores-table tbody tr:hover {
  background-color: #eaeaea;
}

.proveedores-table tbody td {
  text-align: center;
}

.add-button {
  position: fixed;
  z-index: 2;
  top: 16px;
  right: 25px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #05acff;
  color: white;
  border: none;
}
