.proveedores-container {
  overflow-x: auto;
  max-height: 85vh;
  display: grid;
  place-items: center;
  margin-top: 25px;
  position: relative;
}

.scrollable {
  overflow-x: hidden;
}

.proveedores-table {
  width: 90%;
  margin: 20px ;
  border: 1px solid #bebebe;

  border-collapse: collapse;
  box-shadow:  5px 5px 0px #bebebe,
               -5px -5px 0px #ffffff;  
}

.proveedores-table th,
.proveedores-table td {
  padding: 8px; 
}

.proveedores-table th {
  background-color: rgb(86, 157, 170);
  margin: 0 10px;
  border: black 2px solid;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.proveedores-table thead {
  position: relative;
}

.proveedores-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.proveedores-table tbody tr:hover {
  background-color: #cbcbcb;
}

.proveedores-table tbody td {
  text-align: center;
 
}

.add-button {
  position: fixed;
  z-index: 2;
  top: 16px;
  right: 25px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #05acff;
  color: white;
  border: none;
}.btn-container {
  width: 20%;
}
.btn-editar, .btn-eliminar, .btn-descargar{
  margin: 0 3%;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  align-items: center;
}
.btn-editar {
  background-color: #577D86;
  color: white;
}
.btn-eliminar {
  background-color: #ff0000;
  color: white;
}.btn-descargar{
  background-color: #577D86;
  color: white;
}
