.proveedores-container {
  display: grid;
  place-items: center;
  margin-top: 20px;
}

.proveedores-table {
  width: 80%;
  border-collapse: collapse;
}

.proveedores-table th,
.proveedores-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.proveedores-table th {
  background-color: #f2f2f2;
}

.proveedores-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.proveedores-table tbody tr:hover {
  background-color: #eaeaea;
}

.proveedores-table tbody td {
  text-align: center;
}

